body {
    color: white;
    background: black;
}

header { 
    border-bottom: solid 2px black;
    font-size: 32px
    color:black;
}
section{
background: brown
padding-bottom:  90px;
padding-top: 90px;
display:flex 
justify-content:center
}